AUTH_API_HOST=127.0.0.1
AUTH_API_PORT=8001
IDENTITY_HEADER=X-Authenticated-User
IDENTITY_EMAIL_HEADER=X-Authenticated-Email
IDENTITY_GROUPS_HEADER=X-Authenticated-Groups
IDENTITY_DISPLAY_NAME_HEADER=X-Authenticated-Display-Name
MFA_POLICY_HEADER=X-Auth-Mfa-Policy
NGINX_PORT=443
NGINX_PUBLIC_HOST=e3display.com
NGINX_PUBLIC_SCHEME=https
ENTRA_TENANT_ID=<tenant-id>
OAUTH2_PROXY_HTTP_ADDRESS=127.0.0.1:4180
OAUTH2_PROXY_REDIRECT_URL=https://e3display.com/auth/callback
OAUTH2_PROXY_CLIENT_ID=<client-id>
OAUTH2_PROXY_CLIENT_SECRET=<client-secret>
OAUTH2_PROXY_COOKIE_SECRET=<cookie-secret-ascii-32-chars>
OAUTH2_PROXY_EMAIL_DOMAIN=*
OAUTH2_PROXY_COOKIE_SECURE=true
OAUTH2_PROXY_SESSION_COOKIE_MINIMAL=true
OAUTH2_PROXY_WHITELIST_DOMAINS=e3display.com
OAUTH2_PROXY_ALLOWED_GROUPS=
AD_DOMAIN=E3.LAN
AD_SHORT_DOMAIN=E3
AD_SERVER=E3.LAN
AD_SEARCH_BASE=DC=E3,DC=LAN
AD_BIND_USER=
AD_BIND_PASSWORD=
TLS_CERT_PATH=D:\Archivos_rriveram\Desarrollos\API_Autenticacion\nginx\certs\fullchain.crt
TLS_KEY_PATH=D:\Archivos_rriveram\Desarrollos\API_Autenticacion\nginx\certs\private.key
PYTHON_EXE_PATH=D:\Archivos_rriveram\Desarrollos\API_Autenticacion\.venv\Scripts\python.exe
NGINX_EXE_PATH=D:\Archivos_rriveram\Desarrollos\API_Autenticacion\nginx-bin\nginx-1.28.2\nginx.exe
OAUTH2_PROXY_EXE_PATH=D:\Archivos_rriveram\Desarrollos\API_Autenticacion\oauth2-proxy-bin\oauth2-proxy-v7.14.3.windows-amd64\oauth2-proxy.exe
