AUTH_API_HOST=127.0.0.1
AUTH_API_PORT=8001
NGINX_PORT=443
NGINX_PUBLIC_HOST=e3display.com
NGINX_PUBLIC_SCHEME=https
OAUTH2_PROXY_REDIRECT_URL=https://e3display.com/auth/callback
IDENTITY_HEADER=X-Authenticated-User
IDENTITY_EMAIL_HEADER=X-Authenticated-Email
IDENTITY_GROUPS_HEADER=X-Authenticated-Groups
IDENTITY_DISPLAY_NAME_HEADER=X-Authenticated-Display-Name
MFA_POLICY_HEADER=X-Auth-Mfa-Policy
TLS_CERT_PATH=D:\Archivos_rriveram\Desarrollos\API_Autenticacion\nginx\certs\certificate.crt
TLS_KEY_PATH=D:\Archivos_rriveram\Desarrollos\API_Autenticacion\nginx\certs\private.key
